* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #000000;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 200px;
  width: 250px;
  row-gap: 10px;
  margin: auto;
}

input {
  padding: 10px;
  font-size: 20px;
  outline: none;
  border-radius: 10px;
  border: 1px rgb(0, 0, 0) solid;
}
button {
  padding: 10px 20px;
  cursor: pointer;
  background-color: yellow;
  color: rgb(0, 0, 0);
  outline: none;
  border: none;
  border-radius: 15px;
  font-size: 25px;
}

.data {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 15px;
  width: 80%;
  padding: 10px;
  margin: 0 auto;
  font-size: 30px;
}
.show {
  display: flex;
}
p {
  display: flex;
  padding: 0 0 5px 0;
  color: white;
  border-bottom: 1px solid rgba(5, 3, 3, 0.664);
}

@media (max-width: 760px) {
  .small-span {
    order: 1;
    display: flex;
    justify-content: center;
  }
  .small-p {
    flex-direction: column;
  }
}
